{% extends 'base.html' %}

{% block content%}
<div class="container-fluid py-5" >
    <h1 class="text-center">About</h1>
    <p class="text-center">
        Kochi is one of the cosmopolitan cities of Kerala which had come into limelight with its rich treasures of spices. It is also called as the Gateway to Kerala and its awe inspiring scenic views makes it a perfect tourist destination. Kochi is small place in Kerala which is also known as God's Own Country and famous for its green pastures with beautiful landscapes. 
    
    This city houses the very famous port which is known for its world class standards and facilities. International airport at Nedumbassery is located approximately 40 km North of the city. Malayalam is the native language spoken here. 
    
    With economic and social development this place has become one of the most happening places in Kerala. People are highly fashion conscious and great western culture influence can be seen in the way they dress.
    </p>
    
        
    </div>

{% endblock %}
